    <div id="stockdashboard">

        <div class='section group header'>
            <div class='col header_span_1'>StratOne</div>
            <div class='col header_span_2'><span>powered by</span></div>
            <div class='col header_span_3'>
                <img style='width:200%;' src='/static/img/deeptrade.png'/>
            </div>
        </div>
        <div class='section group content'>
            <div class='section group tickercounter'>
                <div class='col price'>
                    <span class='indexval'>DOWJONES (YM)</span></br>
                    <span id='@YM' class='priceval'>Waiting...</span>
                </div>
                <div class='col delta'><div id='@YM-dir'></div><span id='DOWJONES-delta'></span></div> <!--_._</span></div>--!>
                <div class='col chart'>
<!--                    <button type="button" data-index='DOWJONES'>Trend</button>-->
                    <span class='lastupdatelabel'>Last Signal</span><br>
                    <span id='@YM-time'>__:__:__</span>
                </div>
            </div>

            <div class='section group tickercounter'>
                <div class='col price'>
                    <span class='indexval'>RUSSEL2000 (RTY)</span></br>
                    <span id='@RTY' class='priceval'>Waiting...</span>
                </div>
                <div class='col delta' ><div id='@RTY-dir'></div><span id='NASDAQ-delta'></span></div>
                <div class='col chart'>
<!--                    <button type="button" data-index='NASDAQ'>Trend</button>-->
                    <span class='lastupdatelabel'>Last Signal</span><br>
                    <span id='@RTY-time'>__:__:__</span>
                </div>
            </div>
            <div class='section group tickercounter'>
                <div class='col price'>
                    <span class='indexval'>GBP (M6B)</span></br>
                    <span id='@M6B' class='priceval'>Waiting...</span>
{#                    __.__#}
                </div>
                <div class='col delta'><div id='@M6B-dir'></div><span id='FTSE-delta'></span></div>
                <div class='col chart'>
<!--                    <button type="button" data-index='FTSE'>Trend</button>-->
                    <span class='lastupdatelabel'>Last Signal</span><br>
                    <span id='@M6B-time'>__:__:__</span>
                </div>
            </div>
            <div class='section group tickercounter'>
                <div class='col price'>
                    <span class='indexval'>S&P500 (ES)</span></br>
                    <span id='@ES' class='priceval'>Waiting...</span>
                </div>
                <div class='col delta'><div id='@ES-dir' ></div><span id='NIKKEI-delta'></span></div>
                <div class='col chart'>
<!--                    <button type="button" data-index='NIKKEI'>Trend</button>-->
                    <span class='lastupdatelabel'>Last Signal</span><br>
                    <span id='@ES-time'>__:__:__</span>
                </div>
            </div>
            <div class='section group tickercounter'>
                <div class='col price'>
                    <span class='indexval'>EUR (M6E)</span></br>
                    <span id='@M6E' class='priceval'>Waiting...</span>
                </div>
                <div class='col delta'><div id='@M6E-dir' ></div><span id='NIKKEI-delta'></span></div>
                <div class='col chart'>
<!--                    <button type="button" data-index='NIKKEI'>Trend</button>-->
                    <span class='lastupdatelabel'>Last Signal</span><br>
                    <span id='@M6E-time'>__:__:__</span>
                </div>
            </div>
        </div>
    </div>
